ipch/
/*.db
/*.opendb
shOOP/Debug/
.vs/shOOP/v14/.suo
shOOP/x64/Debug/Client.obj
shOOP/x64/Debug/Ingredients.obj
shOOP/x64/Debug/Invoice.obj
shOOP/x64/Debug/Order.obj
shOOP/x64/Debug/Product.obj
shOOP/x64/Debug/Shop.obj
shOOP/x64/Debug/StockFormular.obj
shOOP/x64/Debug/shOOP.log
shOOP/x64/Debug/shOOP.obj
shOOP/x64/Debug/shOOP.pch
shOOP/x64/Debug/shOOP.tlog/CL.command.1.tlog
shOOP/x64/Debug/shOOP.tlog/CL.read.1.tlog
shOOP/x64/Debug/shOOP.tlog/CL.write.1.tlog
shOOP/x64/Debug/shOOP.tlog/link.command.1.tlog
shOOP/x64/Debug/shOOP.tlog/link.read.1.tlog
shOOP/x64/Debug/shOOP.tlog/link.write.1.tlog
shOOP/x64/Debug/shOOP.tlog/shOOP.lastbuildstate
shOOP/x64/Debug/stdafx.obj
shOOP/x64/Debug/vc140.idb
shOOP/x64/Debug/vc140.pdb
x64/Debug/shOOP.exe
x64/Debug/shOOP.ilk
x64/Debug/shOOP.pdb
